<!-- <div class="gallery-lightbox-container">
  <div class="gallery">
    @for (item of ImgData; track item.imgId) {

    <div class="gallery-img">
      <img (click)="onPreview(item.imgId)" [src]="item.imgUrl" [alt]="item.imgAlt" />
    </div>

    }
  </div>

  @if (previewImage) {

    <div class="lightbox" animate.enter="fade-in" animate.leave="fade-out">
    <span class="count">{{currentIndex+1}}/{{totalImageCount}}</span>
    <button class="close-btn"(click)="onClose()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button class="btn-lightbox-carousel btn-prev" (click)="onPrevious()">
      <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
    </button>
    <button class="btn-lightbox-carousel btn-next" (click)="onNext()">
      <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>

    <div class="lightbox-img"  >
      <img [src]="currentLightboxImg.imgUrl" [alt]="currentLightboxImg.imgAlt">
    </div>

  </div>

  }
  
</div> -->

<div class="banner">
  <div class="slider" style="--quantity: {{totalImageCount}}">
    @for (item of ImgData; track item.imgId) {

    <div class="item" style="--position: {{item.imgId}}">
      <img (click)="onPreview(item.imgId)" [src]="item.imgUrl" [alt]="item.imgAlt" />
    </div>

    }
  </div>

  @if (previewImage) {

    <div class="lightbox" animate.enter="fade-in" animate.leave="fade-out">
    <span class="count">{{currentIndex+1}}/{{totalImageCount}}</span>
    <button class="close-btn"(click)="onClose()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button class="btn-lightbox-carousel btn-prev" (click)="onPrevious()">
      <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
    </button>
    <button class="btn-lightbox-carousel btn-next" (click)="onNext()">
      <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>

    <div class="lightbox-img"  >
      <img [src]="currentLightboxImg.imgUrl" [alt]="currentLightboxImg.imgAlt">
    </div>

  </div>

  }
</div>
