<div class="container h-100">

  <div class="row justify-content-center align-items-center h-100">

    <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-center align-items-center">

      <div class="login-box">

        <img src="assets/logo.svg" class="login-logo" alt="ProjectGym Logo" />

        <h2 class="login-title">Bejelentkezés</h2>
        <p class="login-sub">Jelentkezz be fiókodba</p>
        <form (ngSubmit)="onLogin()">
          <input
          placeholder="Email"
            [(ngModel)]="email"
            type="email"
            id="username"
            name="username"
            class="login-input"
            required
          />
          @if (emailError()) {
            <p class="error-message">{{ emailError() }}</p>
          }

          <div class="password-wrapper">
            <input
            placeholder="Jelszó"
              [(ngModel)]="password"
              [type]="showPassword() ? 'text' : 'password'"
              id="password"
              name="password"
              class="login-input"
              required
            />
            <button type="button" class="toggle-password" (click)="togglePassword()">
              @if (showPassword()) {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94"/><path d="M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19"/><line x1="1" y1="1" x2="23" y2="23"/></svg>
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
              }
            </button>
          </div>
          @if (passwordError()) {
            <p class="error-message">{{ passwordError() }}</p>
          }

          @if (loginError()) {
            <p class="error-message login-error">{{ loginError() }}</p>
          }

          <button type="submit" class="login-btn">Bejelentkezés</button>
          <a class="other-bt" routerLink="/register">Nincs még fiókod?</a>
          <a class="other-bt" routerLink="">Elfelejteted a jelszavad?</a>

        </form>
      </div>
    </div>
  </div>
</div>
